@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,400|Judson:400,700|Inter:400");
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Nunito Sans", Helvetica;
  
  
}
/* Navbar */
.navbar{
  font-family: "Judson", Helvetica!important;
}

.nav-button-right{
  display: inline-flex;
  justify-content: space-between;
}

.nav-button-right a{
  color: black!important;
}

.heading{
  background-color: black;
  color: white;
}

.navbar-nav a{
  font-size: 16px;
  color: #767F43;
  margin-right: 1rem;
  font-weight: 600;
}

.cart a{
  color : #767F43!important;
}

.sign-in .fa-user{
  color: black;
}

.sign-in a{
  text-decoration: none;
  color: #767F43;
}

.content{
  height: 50rem;
}

/* Home page */
.iklan img{
  height: 880px;
  weight: 850px;
}

.iklan_1 img{
  height: 379px;
  weight: 388px;
  margin-left: 1000px;
  margin-top: 100px;
}

.iklan_2 img{
  height: 379px;
  weight: 388px;
  margin-left: 500px;
  margin-top: 37px;
}

.iklan_3 img{
  height: 379px;
  weight: 388px;
  margin-left: 1000px;
  margin-top: 100px;
 
}

.box{
  /* background-color: #D9DBD4; */
  height: 400px;
  width: 100%;
  margin-top: 200px;
  display: flex;
}

.box img{
  z-index: 999999;
  position: absolute;
  margin-left:auto;
  margin-bottom: 3000px;
  max-width: 1921px;
  max-height: 614PX;
  margin-top: 2690px;
}

.insta img{
  height: 522px;
  weight: 1178px;
  margin-top: 3512px;
}

/* footer */
.footer{
  background-color: black;
  color: white;
  height: 390px;
  widht: 1920px;
  margin-top: 500px;
  margin-bottom: 4190px;
}



/* Carousel */
/* .carousel-wrapper{
  height: 400px;
  position: relative;
  width: 800px;
  display: block;
  margin: 50px auto;
  border: 2px solid black;  
}

.carousel-item{
  position: absolute;
  top:0 ;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: a11 0.5s ease-in-out;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0 ;
  display: inline-block;
  paddling: 12px;
} */



/* End Homepage */

/* Shop */