@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,400|Judson:400,700|Inter:400");
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Nunito Sans", Helvetica;
  
}
/* Navbar */
.navbar{
  font-family: "Nunito Sans", Helvetica!important;
}

.nav-button-right{
  display: inline-flex;
  justify-content: space-between;
}

.nav-button-right a{
  color: black!important;
}

.heading{
  background-color: black;
  color: white;
}

.navbar-nav a{
  font-size: 16px;
  color: #767F43;
  margin-right: 1rem;
  font-weight: 600;
}

.cart a{
  color : #767F43!important;
}

.sign-in .fa-user{
  color: black;
}

.sign-in a{
  text-decoration: none;
  color: #767F43;
}

.content{
  height: 50rem;
}

/* Home page */
.box{
  background-color: #767F43;
  height: 400px;
  width: 100%;
  margin-top: 200px;
  display: flex;
}

.box img{
  z-index: 999999;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 3000px;
  max-width: 50%;
  max-height: 50%;
}


/* End Homepage */

/* Shop */